.DS_Store
.prettierignore
.eslintignore
.env
website/build
node_modules
.vscode/
bun.lockb
bun.lock
package-lock.json
temp/*
!temp/favicon.ico
uploads/*
!uploads/favicon.ico
oauthtoken.json
make-idp.crt
log/*