.DS_Store
.prettierignore
.prettierrc
.eslintignore
.env
website/build
node_modules
.vscode/
bun.lockb
bun.lock
temp/*
!temp/favicon.ico
uploads/*
!uploads/favicon.ico
oauthtoken.json
make-idp.crt
log/*