# =================
# This file is an example of the .env file that should be created in the root of the project.
# To start, copy this file and rename it to .env
# =================

# The mongo URI to connect to the database
MONGO_URI = "mongodb://127.0.0.1:27017/make"

# This can either be "development" or "production"
NODE_ENV = "development"