body {
  margin: 0 auto;
}

h1,
h2 {
  margin-bottom: 0px;
}

p3 {
  margin-bottom: 10px;
}

p {
  margin: unset;
}

/*

STUDENT STORAGE

*/

#student-storage-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--theme-color-5);
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

#overall-student-storage {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  gap: 0 !important;
}

#student-storage-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: var(--text-color-main);
}

#checkout-popup {
  color: var(--text-color-main);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: unset;
}

#checkout-popup::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-5);
  opacity: 0.95;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#slot-selected {
  color: var(--text-color-alt);
  background-color: var(--theme-color-1);
  border-radius: var(--roundness);
  padding: 5px;
}

#checkout-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  color: var(--text-color-main);
}

#checkout-buttons button {
  color: var(--text-color-main);
  width: 200px;
  height: 90px;
}

/*

CHECKOUT

*/

#main-grid-checkout {
  background-color: var(--theme-color-2);
  display: grid;
  grid-template-areas: "left inventory";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: minmax(0, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: var(--text-color-main);
  overflow-x: auto;
}

#user-info {
  position: left;
  border-radius: var(--roundness);
  background-color: var(--theme-color-5);
  display: grid;
  grid-template-rows: 50px auto;
  gap: 20px;
  padding: 20px;
  margin: 10px;
  min-width: 425px;
}

#user-info-header {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr 1fr;
  gap: 10px;
}

#id-input {
  grid-column: 2/3;
}

#clear-user {
  grid-column: 3/4;
  background-color: var(--printer-error);
}

#pages {
  background-color: var(--theme-color-5);
  grid-area: inventory;
  border-radius: var(--roundness);
  padding: 20px;
  margin: 10px;
  display: grid;
  grid-template-rows: 80px minmax(0, 1fr);
}

#pages-select {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 60px;
}

#pages-content {
  display: grid;
  grid-template-rows: minmax(0, 1fr);
}

#heartbeat {
  background-color: var(--theme-color-5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inventory-result-checkout-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 5px;
  margin: 10px;
  border-radius: var(--roundness);
  background-color: var(--theme-color-5);
}

.inventory-result-checkout-container * {
  width: 100%;
}

.inventory-result-checkout-container button, #clear-user, .check-in-button {
  color: var(--white);
}

.inventory-result-checkout-less {
  background-color: var(--low-color);
}

.inventory-result-checkout-more {
  background-color: var(--high-color);
}

.inventory-result-checkout {
  background-color: var(--theme-color-7);
  font-size: 1.2em;
  font-weight: bold;
}



#printers-current.small > * {
  width: 100px;
  height: 110px;
  gap: 5px;
}

#printers-current.small .printer > * {
  padding: 3px;
  width: 80px;
  font-size: 12px;
}

#printers-current.small .printer-id,
#printers-current.small .printer-current-time-left {
  background-color: unset;
  color: var(--text-color-main);
}

#user-info-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 100%;
}

#user-info-content > .two-three-split {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: inherit;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

#user-info-content > .two-three-split > * {
  background-color: var(--theme-color-2);
  border-radius: var(--roundness);
  color: var(--text-color-main);
  height: 40px;
  width: 100%;
  align-content: center;
  text-align: center;
}

#user-info-content > * {
  background-color: var(--theme-color-2);
  border-radius: var(--roundness);
  color: var(--text-color-main);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#user-info-passed-quizzes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

#user-info-passed-quizzes > * {
  background-color: var(--theme-color-3);
  border-radius: var(--roundness);
  color: var(--text-color-main);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#user-info-certifications {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr);
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

#user-info-certifications > * {
  background-color: var(--theme-color-3);
  border-radius: var(--roundness);
  color: var(--text-color-main);
  padding: 10px;
}

#add-remove-cert p {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  background-color: var(--theme-color-2)
}

#user-certifications-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

#user-certifications-info .cert-info {
  display: grid;
  grid-template-areas: "name name" "desc desc" "user-info user-info" "buttons buttons";
  grid-template-columns: 1fr 1fr;
  background-color: var(--theme-color-3);
  gap: 10px;
  padding: 10px;
}

#user-certifications-info .cert-info-name {
  grid-area: name;
  font-weight: bold;
}

#user-certifications-info .cert-info-desc {
  grid-area: desc;
}

#user-certifications-info .cert-info-user-info {
  grid-area: user-info;
}

#user-certifications-info .cert-info-buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#user-info-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 1.2em;
  justify-content: flex-start;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 10px;
}

#user-info-cart b {
  margin-top: 20px;
}

#time-length-radio {
  gap: 10px;
  padding: 5px;
  font-weight: bold;
}

#bottom-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 50px;
}

#bottom-buttons * {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: unset;
  width: 100%;
}

label {
  margin-left: 0;
}

.User {
  background-color: var(--theme-color-2) !important;
}

.Steward {
  background-color: var(--theme-color-8) !important;
}

.Admin {
  background-color: var(--theme-color-7) !important;
}

.Banned {
  background-color: var(--printer-error) !important;
  animation: pulse 0.5s infinite;
}

#cart-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  overflow-y: scroll;
  gap: 5px;
  flex: 1 1 0;
  width: 90%;
  background-color: var(--theme-color-3);
  padding: 10px;
  border-radius: 10px;
}

.cart-item {
  font-size: 0.8em;
  background-color: var(--theme-color-5);
  border-radius: var(--roundness);
  display: grid;
  grid-template-columns: 10fr 1fr;
  align-items: center;
  justify-content: center;
  color: var(--text-color-main);
  position: relative;
  text-overflow: ellipsis;
  padding: 5px 10px;
}

.cart-item-name {
  display: block;
  position: unset;
  overflow: hidden;
  line-break: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cart-item-quantity input {
  width: 50px;
  height: 30px;
  font-size: 1.2em;
  text-align: center;
  border-radius: var(--roundness);
  border: 1px solid var(--theme-color-3);
  background-color: var(--theme-color-3);
  color: var(--text-color-main);
  padding: 5px;
}

#checkouts-page {
  overflow-y: scroll;
}

#id-error {
  background-color: var(--printer-error);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  text-align: center;
}

#users-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

#users-search-input {
  width: 500px;
}

#users-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  overflow-y: scroll;
}

.user-result {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr 1fr 5fr;
  background-color: var(--theme-color-3);
  border-radius: var(--roundness);
  color: var(--text-color-main);
  padding: 5px;
  width: 90%;
  font-size: 0.9em;
}

.user-result * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.user-result-passed-quizzes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.user-result-passed-quizzes > * {
  background-color: var(--theme-color-2);
  border-radius: var(--roundness);
  color: var(--text-color-main);
  padding: 5px;
  font-size: 0.8em;
}

.check-in-button {
  background-color: var(--theme-color-7);
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.checkout-entry.success .check-in-button {
  background-color: var(--high-color);
  animation: pulse 0.2s infinite;
}

.checkout-entry.error .check-in-button {
  background-color: var(--printer-error);
  animation: pulse 0.2s infinite;
}

.success {
  background-color: var(--high-color);
  animation: pulse .2s infinite;
}


/*

Management Console

*/

#main-admin-grid {
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-rows: 40px 1fr;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  overflow-x: auto;
}

#main-admin-grid >.content-container {
  height: calc(100vh - 40px);
}

#admin-header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: var(--theme-color-1);
  border-radius: var(--roundness);
  color: var(--text-color-main);
  overflow-x: auto;
}

#admin-header button {
  border: none;
  cursor: pointer;
  font-size: 14px;
  width: 140px;
  height: 40px;
  font-weight: bolder;
  border-radius: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px
}

#admin-header button .material-symbols-outlined {
  font-size: 16px;
}

#admin-header button:hover, #admin-header button.active-button {
  background-color: var(--theme-color-2) !important;
}

#stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: var(--theme-color-5);
  border-radius: var(--roundness);
  color: var(--text-color-main);
  width: 80%;
  margin: 0 auto;
  gap: 20px;
}

#stats div {
  max-height: 700px;
}


#total-count-table {
  width: 100%;
}

#total-count-table tr:nth-child(even) {
  background-color: var(--theme-color-2);
}

#main-area {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 20px;
  background-color: var(--theme-color-5);
  border-radius: var(--roundness);
  color: var(--text-color-main);
}

#auth-input {
  width: 90%;
  min-height: 200px;
}

.content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.content-header p {
  margin: unset;
}

.content-body h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 40px auto;
  border-bottom: 1px solid var(--theme-color-9);
  padding-bottom: 10px;
  font-size: 1.5rem;
}

#update-status-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#update-motd {
  width: 300px;
  height: 100px;
}

.user-result.editable {
  grid-template-columns: 2fr 1fr 3fr 1fr 5fr .5fr;
}

.user-result.editable button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#edit-user-proficiencies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#schedule-table tr {
  height: 40px;
}

#schedule-table .schedule-shift {
  cursor: pointer;
}

#schedule-table .schedule-shift:hover {
  background-color: var(--theme-color-4);
}

#edit-shift-stewards {
  display: flex;
  flex-direction: row;
  height: 60vh;
  padding: 10px;
  column-gap: 10px;
}

#edit-shifted-stewards, #edit-unshifted-stewards {
  background-color: var(--theme-color-2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
  min-width: 600px;
  overflow-x: hidden;
}

#edit-shifted-stewards {
  align-items: flex-end;
}

.add-remove-steward-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  width: 100%;
  cursor: pointer;
  user-select: none;
  padding: 5px 8px;
}

.add-remove-steward-info:nth-child(even) {
  background-color: var(--theme-color-5);
}

.add-remove-steward-info.on-shift {
  justify-content: flex-end;

}

.add-remove-steward-info:hover {
  background-color: var(--theme-color-4);
}

.add-remove-steward-info .hours-scheduled, .add-remove-steward-info .hours-available {
  width: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
}

#shift-change-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 50px 0;
}

#steward-list-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.steward-shift-list-item {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr 1fr;
  align-items: center;
  justify-content: center;
  place-items: left;
  padding-left: 20px;
  width: 90%;
  height: 30px;
  background-color: var(--theme-color-2);
}

.steward-shift-list-item:nth-child(even), .shift-change-list-item:nth-child(even) {
  background-color: var(--theme-color-3);
}

#download-schedule-button {
  padding: 15px;
  font-size: 1em;
}

.steward-shift-list-item-shifts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.not-enough-hours {
  background-color: var(--low-color);
}

.good-hours {
  background-color: var(--high-color);
}

.too-many-hours {
  background-color: var(--medium-color);
}

#mass-assign-roles-text {
  width: 400px;
  height: 400px;
}

.shift-change-list-item {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 3fr 1fr;
  align-items: center;
  justify-content: center;
  place-items: left;
  padding-left: 20px;
  width: 90%;
  height: 30px;
  background-color: var(--theme-color-2);
}

.shift-change-list-item .drop-or-pickup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--low-color);
}

.shift-change-list-item .drop-or-pickup.pickup {
  background-color: var(--high-color);
}

table th.prof {
  font-size: 12px;
}

/* input elements that are checked */
table#proficiencies-list td.checked {
  background-color: var(--high-color);
}

table#proficiencies-list td.proficiency-cell {
  text-align: center;
}

#create-new-workshop-button, #create-new-redirect-button, #clear-availability-button, #create-new-api-key-button, #create-new-certification-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  margin-top: 20px;
  height: 40px;
  width: 200px;
  font-weight: bold;
}

tr.workshop-admin {
  background-color: var(--theme-color-2);
}

#edit-workshop-small-options {
  display: grid;
  grid-template-areas: "instructors instructors date" "label1 label2 label3" "start end capacity";
  gap: 10px;
}

#edit-workshop-instructors {
  grid-area: instructors; 
}

#edit-workshop-description {
  height: 60px;
}

#edit-workshop-required_quizzes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

#edit-workshop-photos {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  overflow-x: auto;
  border: 4px dashed var(--theme-color-9);
  min-height: 120px;
  width: 100%;
  padding: 10px;
  border-radius: var(--roundness);
  cursor: pointer;
}

#edit-workshop-photos span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

#edit-workshop-photos:hover {
  background-color: var(--theme-color-2);
}

#edit-workshop-photos img {
  max-height: 100px;
  max-width: 100px;
  border-radius: var(--roundness);
  cursor: pointer;
}

.workshop-delete, .workshop-edit, .workshop-is_live, .workshop-capacity, .workshop-rsvp_list, .workshop-attendees {
  text-align: center;
  width: 80px;
}

.workshop-admin button {
  width: 50px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0 auto;
  font-size: 12px; 
}

.workshop-admin button .material-symbols-outlined {
  font-size: 20px;
}

.workshop-is_live span {
  padding: 5px;
  border-radius: 50%;
}

.workshop-is_live.published span{
  background-color: var(--high-color);
}

.workshop-is_live.unpublished span{
  color: var(--low-color);
}

.workshop-month-separator {
  font-weight: bold;
  text-align: center;
  background-color: var(--theme-color-5) !important;
  height: 60px;
  color: white;
}


#workshop-signups {
  width: 900px;
}


#steward-availability-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}


#steward-availability-list-container {
  margin: unset;
  width: fit-content;
  max-height: 700px;
  overflow-y: scroll;
}

/*
Container for the start/end date ranges for the statistics page
*/
#statistics-date-range-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}


/*
Container for the count of total users in the statistics page
*/
#total-users-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-self: end;
  margin-left: auto;
  margin-right: 3rem;
}

/*
API KEY EDITOR
*/

/* -- API Key Table -- */

/* Alternate column colors to allow for better visual distinction */
table#api-keys-table > tbody > tr > td:nth-child(even) {
  background-color: var(--theme-color-9);
}
/* Add padding to cells */
table#api-keys-table > tbody > tr > td, table#api-keys-table > tbody > tr > th {
  padding: 10px;
}

/* Make button columns small */
td.table-btn {
  width: 50px;
  text-align: center;
}

td.api-key-key-td {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

/* Separate from a .disabled tag because we don't want the spinner animation*/
button.delete-api-key-disabled, button.edit-api-key-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  position: relative;
}



/* -- Create/Edit API Key Popup -- */

/* Align scopes in a column */
#create-edit-api-key-scopes {
  display: flex;
  flex-direction: column;
}

/* Align each scope checkbox + label to be centered */
.scope-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  text-align: center;
}




/*

INVENTORY

*/

.hidden {
  display: none !important;
}



#edit-inventory-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: "header header" "utilities inventory";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 600px 1fr;
  background-color: var(--theme-color-5);
}

#edit-inventory-header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  background-color: var(--theme-color-2);
}

#edit-inventory-results {
  grid-area: inventory;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
}

#edit-item {
  display: grid;
  grid-template-areas: "header header" "left right" "buttons buttons";
  column-gap: 20px;
}

#edit-item >* {
  display: flex;
  flex-direction: column;
}

#edit-item #left {
  grid-area: left;
}

#edit-item #right {
  grid-area: right;
}

#edit-item .edit-buttons {
  grid-area: buttons;
  flex-direction: row;
}

#edit-item label {
  margin-top: 10px;
  height: 25px;
}

#edit-item #edit-item-role {
  height: 44px;
}

.edit-inventory-item {
  display: grid;
  grid-template-areas: "name role quantity" "location edit delete";
  grid-template-columns: 3fr 2fr 1fr;
  row-gap: 5px;
  background-color: var(--theme-color-2);
  width: calc(100% - 40px);
  padding: 10px;
}

.restock-pending {
  border: 3px solid red;
}

.restock-ordered {
  border: 3px solid #52e5db;
}

.restock-banner {
  background-color: #b63a3a; /* Default red — override with another class if needed */
  color: white;
  padding: 10px 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  margin-left: 160px;
  border-radius: 6px;
}
.restock-banner.ordered {
  background-color: #52e5db;
}

.edit-inventory-item:nth-child(even) {
  background-color: var(--theme-color-3);
} 

.edit-inventory-item:hover {
  background-color: var(--theme-color-4);
  cursor: pointer;
}

.edit-inventory-item >* {
  margin: 0;
  font-weight: normal;
}

.edit-inventory-item h2 {
  grid-area: name;
  font-size: 16px;
  font-weight: bold;
}

.edit-inventory-item h3 {
  font-size: 14px;
}

.edit-inventory-item button {
  width: 100px;
}

.edit-inventory-item .edit {
  grid-area: edit;
}

.edit-inventory-item .delete {
  grid-area: delete;
}

#edit-inventory-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  overflow-y: scroll;
  padding-top: 20px;
}

#edit-inventory-item label {
  display: grid;
  grid-template-columns: 140px 1fr;
  margin-left: 20px;
  place-items: baseline;
}

#edit-inventory-item .locations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}

.location-editor {
  display: grid;
  grid-template-areas: "room delete" "container delete" "specific delete";
  grid-template-columns: 1fr 40px;
  gap: 5px;
  justify-content: center;
  border-left: 5px solid var(--theme-color-1);
}

.locations #button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.location-editor button {
  grid-area: delete;
  width: 40px;
  height: 40px;
}

#save-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--theme-color-2);
  border-radius: var(--roundness);
  color: var(--text-color-main);
  width: 300px;
  border-radius: 4px;
}

#save-status.saved {
  background-color: var(--high-color-dark);
  border: 2px solid var(--high-color);
}

#save-status.error {
  background-color: var(--low-color-dark);
  border: 2px solid var(--low-color);
}

/* .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  color: black;
  padding: 24px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
}

.popup-content label {
  display: block;
  margin: 12px 0;
}

.popup-content input,
.popup-content textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
} */


#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#popup-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

#popup-content {
  z-index: 1000;
  background-color: var(--theme-color-5);
  padding: 40px;
  max-width: 1500px;
}

#popup-content >* {
  margin-bottom: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.popup-buttons button {
  padding: 10px 20px; /* Adjust padding to make the button larger */
  font-size: 16px; /* Increase font size for readability */
  border-radius: 8px; /* Optional: to make the buttons' corners more rounded */
  min-width: 200px; /* Optional: ensures buttons are not too narrow */
  cursor: pointer;
}

/*

LOOM

*/

#loom-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
}

#display {
  height: 100%;
  position: relative;
  margin: 20px;
  transition: border 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#display.nofile {
  border: 5px dashed var(--theme-color-9);
}

#display.fileover {
  border: 5px dashed var(--theme-color-4);
}

#display.loading {
  border: 5px dashed var(--theme-color-8);
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    border-color: var(--theme-color-8);
  }
  50% {
    border-color: var(--theme-color-2);
  }
  100% {
    border-color: var(--theme-color-8);
  }
}

#drag-and-drop {
  background-color: unset;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#drag-and-drop * {
  background-color: unset;
}

#preview {
  z-index: 10000;
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  image-rendering: pixelated !important;
}

#options {
  width: 80%;
  margin: 0 auto;
}

button#download {
  margin-top: 10px;
}

#input-array {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}

#input-array input {
  max-width: 100px;
}

#render, #download {
  width: 150px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/*

WORKSHOPS

*/

#main-workshop-grid {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#main-workshop-grid >* {
  background-color: var(--theme-color-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  height: 100%;
}

#main-workshop-grid #welcome-banner {
  display: grid;
  grid-template-areas: "img welcome" "img subtext";
  gap: 50px;
  place-items: left;
  margin-bottom: 200px;
}

#main-workshop-grid #welcome-banner img {
  grid-area: img;
}

#main-workshop-grid #welcome-banner h1 {
  grid-area: welcome;
  font-size: 6em;
} 

#workshop-outer {
  overflow: hidden;
  transition: transform .6s ease-in-out;
  cursor: pointer;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0);
}

#workshop-outer div {
  display: inline-block;
}

#workshop-loop {
  white-space: nowrap;
  animation: loop-anim 10s linear infinite;

}

#workshop-loop-content {
  color: var(--theme-color-1);
  margin: unset;
  font-weight: bold;
  font-size: 2em;
}

#workshop-loop-content >*:nth-child(even) {
  color: var(--theme-color-3);
}

@keyframes loop-anim {
  0% {
      margin-left: 0;
  }
  100% {
      margin-left: -50% /* This works because of the div between "outer" and "loop" */
  }
}

#page-select-workshop {
  overflow-y: scroll;
}

#workshop-table {
  text-align: center;
  max-width: 1000px;
}

/* ****************************************** INVENTORY RESTOCKS PAGE START ********************************************************************************************* */

#page-restock-requests h1 {
  margin: 16px auto 8px auto;
  padding-bottom: 0;
  border-bottom: none;
  font-size: 1.5rem;
  width: 90%;
  text-align: center;
}

#pending-restock-requests-list,
#ordered-restock-requests-list,
#completed-restock-requests-list {
  margin-bottom: 48px;
}

/* ------------------ Pending ------------------ */
.restock-request-pending.restock-request-header {
  display: grid;
  grid-template-columns: 6fr 6fr 6fr 8fr 4fr; 
  gap: 12px;
  padding: 12px 16px;
  background-color: #2a2a2a;
  font-weight: bold;
}

.restock-request-pending {
  display: grid;
  grid-template-columns: 6fr 6fr 6fr 8fr 4fr; 
  gap: 12px;
  padding: 12px 16px;
  align-items: center;
  border-bottom: 1px solid #444;
  text-align: left;
}

.restock-request-pending .restock-request-quantity,
.restock-request-pending .restock-request-complete {
  text-align: center;
}

.restock-request-item {
  width: 300px;
  overflow-wrap: break-word;
}

/* ------------------ Ordered ------------------ */
.restock-request-ordered.restock-request-header {
  display: grid;
  grid-template-columns: 6fr 6fr 6fr 4fr 4fr 4fr;
  gap: 12px;
  padding: 12px 16px;
  background-color: #2a2a2a;
  font-weight: bold;
}

.restock-request-ordered {
  display: grid;
  grid-template-columns: 6fr 6fr 6fr 4fr 4fr 4fr;
  gap: 12px;
  padding: 12px 16px;
  align-items: center;
  border-bottom: 1px solid #444;
  text-align: left;
}

.restock-request-ordered .restock-request-quantity,
.restock-request-ordered .restock-request-note,
.restock-request-ordered .restock-request-complete {
  text-align: center;
}


/* ------------------ Completed ------------------ */
.restock-request-completed.restock-request-header {
  display: grid;
  grid-template-columns: 6fr 6fr 6fr 8fr 4fr; 
  gap: 12px;
  padding: 12px 16px;
  background-color: #2a2a2a;
  font-weight: bold;
}

.restock-request-completed {
  display: grid;
  grid-template-columns: 6fr 6fr 6fr 8fr 4fr; 
  gap: 12px;
  padding: 12px 16px;
  align-items: center;
  border-bottom: 1px solid #444;
  text-align: left;
}

.restock-request-completed .restock-request-quantity,
.restock-request-completed .restock-request-note {
  text-align: center;
}

/* ***************************************** INVENTORY RESTOCKS PAGE END ********************************************************************************************** */


/*

APPLICANTS

*/

#applicant-choices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

#applicant-new-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 20px;
}

#new-review-form, #applicant-continue-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 20px;
}

#new-review-questions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

#continue-review-questions, #continue-review-scoring {
  width: 80%;
  max-width: 1100px;
}

#continue-review-scoring {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#continue-review-scoring .score p {
  height: 40px;
}

#continue-review-questions .question {
  font-weight: bold;
  margin-bottom: 10px;
}

#continue-review-questions .response {
  margin-bottom: 20px;
  background-color: var(--theme-color-3);
  padding: 15px;
  border-radius: 2px;
}

.continue-review-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

#previous-reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.previous-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: var(--theme-color-2);
  padding: 20px;
  border-radius: 2px;
}

.previous-review .review-buttons {
  display: grid;
  grid-template-areas: "continue continue" "download delete";
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.previous-review .review-buttons button.with-icon {
  grid-area: continue;
  width: 100%;
  height: 50px;
}

.previous-review .review-buttons button.only-icon {
  width: 100%;
  height: 40px;
}