:root {
    --main-font: "Inter";
    --title-font: "Righteous";
    --theme-color-1: #ee930b;
    --theme-color-2: #242424;
    --theme-color-3: #eeeeee;
    --theme-color-4: #3d73c5;
    --theme-color-5: #444444;
    --theme-color-6: #e0cf34;
    --theme-color-7: #a05fcc;
    --theme-color-8: #dbdbdb;
    
    --page-header-color: #ee930b;
    --low-color: #9c5151;
    --medium-color: #afad59;
    --high-color: #4e9e4e;
    --link-color: #00bcd4;
    --high-color-dark: #3d773d;

    --text-color-main: #ffffff;
    --text-color-alt: #000000;
    --text-color-light: #b4b3b3;

    --roundness: 5px;
    --button-outline-color: #ffffff;


    /* Icons */
    --inventory-page-icon: url(..img/inventory-icon.svg);
    --tool-icon: url(../img/tool-icon.svg);
    --material-icon: url(../img/material-icon.svg);
}


[data-theme="dark"] {

}

.hidden {
    display: none !important;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body * {
    font-family: var(--main-font);
}

p1 {
    padding: 40px;
    font-size: 5em;
    font-weight: bold;
}

p2 {
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
}

p3 {
    padding: 10px;
    font-size: 14px;
}

.title-font {
    font-size: 1.2em;
    font-family: var(--title-font);
}

#main-grid {
    display: grid;
    grid-template-areas: 
    "sidebar main";
    grid-template-columns: 200px auto;
    margin: 0;
    height: 98vh;
    width: 98vw;
    gap: 20px;
}

#left-bar {
    grid-area: sidebar;
    background-color: var(--theme-color-1);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--roundness);
}

.main-content {
    grid-area: main;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#main-logo {
    font-size: 60px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: var(--title-font);
    transition: color 0.5s cubic-bezier(0, 1.5, 1, 1.5);
    user-select: none; /* Standard */
    color: var(--text-color-main);
}

#main-logo:hover {
    cursor: pointer;
    color: var(--text-color-alt);
}

#left-bar button {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height: 80px;
    padding-left: 30px;
    border-radius: unset;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
}

#left-bar button img {
    transition: transform .5s ease-in-out;
    transition: filter .1s ease-in-out;
}

#left-bar button:hover img {
    transform: scale(1.1);
    filter: invert(100%);
}

button {
    background-color: var(--theme-color-1);
    color: white;
    padding: 4px 6px;
    border: unset;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-radius: var(--roundness);
}

button.big {
    font-size: 1.2em;
    height: 50px;
    padding: 10px;
}

button:hover {
    background-color: var(--theme-color-2);
}

input {
    background-color: var(--theme-color-3);
    font-size: 16px;
    color: var(--text-color-alt);
    padding: 12px;
    border: unset;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: var(--roundness);
}

input.focus {
    outline: unset;
}

#header {
    background-color: var(--page-header-color );
    color: white;
    border-radius: var(--roundness);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    align-content: center;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

select *.option-class {
    font-family: var(--main-font);
}

select {
    border-radius: var(--roundness);
    padding: 10px;
    font-size: 14px;
    color: var(--text-color-alt);
    font-family: var(--main-font);
    border:unset;
}

label {
    margin-left: 10px;
}

.no-id-message {
    background-color: var(--theme-color-6);
    display: flex;
    align-items: center;
    padding: 100px;
    color: var(--text-color-alt);
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    border-style: dashed;
    border-color: var(--theme-color-2);
    border-width: 10px;
    height: 50vh;
}

.page-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color);
}

/*

HOME
    
*/

#college-id-container, #welcome-message, #logged-in-message {
    border-radius: var(--roundness);
    background-color: var(--theme-color-5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    min-height: 200px;
    padding: 30px;
}

#welcome-message {
    background-color: var(--theme-color-4);
}

/*

INVENTORY

*/

#inventory-search {
    background-color: var(--theme-color-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 40px;
    border-radius: var(--roundness) var(--roundness) 0 0;
}

#inventory-results {
    background-color: var(--theme-color-5);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    overflow-y: scroll;
    height: 80vh;
    padding-top: 10px;
    border-radius: 0 0 var(--roundness) var(--roundness);
}

.inventory-result {
    background-color: var(--theme-color-3);
    border-radius: var(--roundness);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--text-color-alt);
}

.inventory-result-main {
    display: grid;
    grid-template-columns: 2fr .5fr 2fr .5fr .5fr;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px;
}

.inventory-result-show-lower-div {
    height: 40px;
    width: 80%;
}

.inventory-result-show-lower-div.grayed-out {
    background-color: var(--theme-color-5);
    color: var(--text-color-light) !important;
}

.inventory-result-show-lower-div.grayed-out:hover {
    background-color: var(--theme-color-5);
}

.inventory-result-lower {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    gap: 10px;
    margin-bottom: 20px;
}

.inventory-result-lower-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color-4);
    border-radius: var(--roundness);
    padding: 10px;
    color: var(--text-color-main);
    width: auto;
    margin-left: 20px;
}

.inventory-result-tool-material {
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.inventory-result-tool-material.material {
    background-image: var(--material-icon);
}

.inventory-result-tool-material.tool {
    background-image: var(--tool-icon);
    background-size: 30px 30px;
}

.inventory-result-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: 5px;
}
.inventory-result-location * {
    color: var(--text-color-main);
    border-radius: var(--roundness);
    padding: 5px;
}

.inventory-result-location .room {
    background-color: var(--theme-color-2);
}

.inventory-result-location .area {
    background-color: var(--theme-color-5);
}

.inventory-result-quantity {
    background-color: var(--theme-color-2);
    color: var(--text-color-main);
    border-radius: var(--roundness);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inventory-result-quantity.low {
    background-color: var(--low-color);
}

.inventory-result-quantity.medium {
    background-color: var(--medium-color);
}

.inventory-result-quantity.high {
    background-color: var(--high-color);
}

/*

Student Storage

*/

#student-storage-help {
    background-color: var(--theme-color-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: var(--roundness) var(--roundness) 0 0;
    padding: 10px;
}

#student-storage-help * {
    width: 60%;
}

#overall-student-storage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color-5);
    border-radius: 0 0 var(--roundness) var(--roundness);
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.student-storage-slot {
    color: var(--text-color-alt);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color-3);
    border-radius: var(--roundness);
    width: 120px;
    height: 120px;
    margin: 10px;
    gap: 5px;
}

.student-storage-slot.occupied {
    color: var(--text-color-main);
    background-color: var(--theme-color-2);
}

.student-storage-slot.user {
    color: var(--text-color-main);
    background-color: var(--theme-color-4);
}

.student-storage-slot-id {
    font-size: 1.2em;
    font-weight: bold;
}
.student-storage-slot-expire, .student-storage-slot-status {
    font-size: 12px;
}

/*

Quiz & Permissions

*/

#quiz-perm-storage-help {
    background-color: var(--theme-color-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: var(--roundness) var(--roundness) 0 0;
    padding: 10px;
}

#quiz-perm-auth-statuses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color-5);
    border-radius: 0 0 var(--roundness) var(--roundness);
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#auth-level {
    margin-bottom: 50px;
}

#auth-level-text {
    font-size: 1.2em;
    font-weight: bold;
    background-color: var(--theme-color-2);
    border-radius: var(--roundness);
    padding: 10px;
}

.quiz-status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color-2);
    border-radius: var(--roundness);
    padding: 20px;
    gap: 20px;
}

.quiz-status-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--theme-color-5);
    border-radius: var(--roundness);
    text-align: center;
    font-weight: bolder;
    width: 120px;
    height: 140px;
}

.quiz-passed {
    background-color: var(--high-color);
}

.status-passed {
    position: absolute;
    bottom: 10px;
    background-color: var(--high-color-dark);
    border-radius: var(--roundness);
    padding: 10px;
}

/*

Info & FAQ

*/

.info-faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color-5);
    border-radius: 0 0 var(--roundness) var(--roundness);
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.info-faq-container * {
    max-width: 80%;
}
