:root {
  --main-font: "Inter";
  --title-font: "Righteous";

  --background-color: #fafafa;

  --make-color: #ee9d22;
  --alt-make-color: #CC7E07;

  --theme-color-1: var(--make-color);
  --theme-color-2: #ffffff;
  --theme-color-3: #d6d6d6;
  --theme-color-4: #2796eb; 
  --theme-color-5: #ececec;
  --theme-color-6: #e0cf34;
  --theme-color-7: #a918ec;
  --theme-color-8: #004174;
  --theme-color-9: #dbdbdb;

  --black: #28272b;
  --white: #ffffff;

  --low-color: #e07575;
  --medium-color: #e9e776;
  --high-color: #74c974;

  --link-color: #0a7988;
  --link-color-light: #0ad3ee;
  --link-color-dark: #0a7988;
  
  --low-color-dark: #af5a5a;
  --medium-color-dark: #cac96a;
  --high-color-dark: #99eb99;

  --text-color-main: #000000;
  --text-color-alt: #ffffff;
  --text-color-light: #727272;

  --printer-idle: #058ed9;
  --printer-printing: #78bc61;
  --printer-paused: #af6900;
  --printer-offline: #0c090d;
  --printer-error: #af3800;

  --shift-1: #a3d8a6;
  --shift-2: #7ac77d;
  --shift-3: #4e9e4e;

  --roundness: 0px;
  --button-outline-color: #ffffff;

  --brightness: 0.9;
  --invert: 0%;

  /* Proficiencies */
  --sewing: #5271ff;
  --dprinting: #ff5757;
  --lasercutter: #ff914d;
  --soldering: #cbcbc9;
  --waterjet: #004aad;
  --welding: #7ed957;
  --advanceddprinting: #ff5757;
  --studiovideo: #737373;
  --studioaudio: #737373;
  --sergers: #5271ff;
  --loom: #ff66c4;
  --leathersewingmachine: #5271ff;
  --printingpress: #00c2cb;
  --spraypaint: #fd3c65;
  --oscilloscopes: #cbcbc9;
  --largeformatprinter: #cb6ce6;
}

[data-theme="dark"] {
  --background-color: #161616;

  --theme-color-1: var(--make-color);
  --theme-color-2: #28272b;
  --theme-color-3: #424555;
  --theme-color-4: #004174;
  --theme-color-5: #17151b;
  --theme-color-6: #bdae2e;
  --theme-color-7: #781fa1;
  --theme-color-8: #0069bc;
  --theme-color-9: #504d57;

  --link-color: #0ad3ee;

  --text-color-main: #ffffff;
  --text-color-alt: #000000;
  --text-color-light: #cecece;

  --low-color: #9c5151;
  --medium-color: #afad59;
  --high-color: #428842;
  --link-color: #00bcd4;

  --low-color-dark: #723a3a;
  --medium-color-dark: #7e7d41;
  --high-color-dark: #2d4d2d;

  --shift-1: #2d463c;
  --shift-2: #39725b;
  --shift-3: #53a081;

  --brightness: 1.2;
  --invert: 100%;
}

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  background-color: var(--background-color);
  transition: opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .5s ease-in-out;
  opacity: 1;
}

#fader.fade-out {
  opacity: 0;
  pointer-events: none;
}


.hidden {
  display: none !important;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-color-main);
}

body * {
  font-family: var(--main-font);
}

p1 {
  font-size: 2em;
  font-weight: bold;
}

p2 {
  padding: 20px;
  font-size: 26px;
  font-weight: bold;
}

p3 {
  padding: 10px;
  font-size: 14px;
}

.title-font {
  font-family: var(--title-font) !important;
}

.md {
  padding: 20px;
  max-width: 70%;
  background-color: var(--theme-color-2);
  line-height: 2;
}

.md h1 {
  font-size: 4em;
}

.md h2 {
  border-bottom: solid 2px var(--theme-color-9);
  margin-top: 3em;
  padding-bottom: 10px;
}

.md h3 {
  padding: 10px;
  background-color: var(--theme-color-5);
  margin-top: 30px;
}

.md b {
  font-size: 1.4em;
}

.md p {
  padding-left: 10px;
}

.md img {
  width: 40%;
  height: auto;
  background-color: var(--theme-color-5);
  margin: 0 auto;
  border-radius: 4px;
  display: table-cell;
  vertical-align: middle;
  transition: filter 0.3s cubic-bezier(0, 1.2, 1, 1.2);
}

.md img:hover {
  filter: brightness(var(--brightness));
}

.md-img-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#popup-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

#popup-content {
  z-index: 1000;
  background-color: var(--theme-color-5);
  padding: 40px;
  max-width: 1500px;
}

#popup-content >* {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.edit-buttons button {
  min-height: 30px;
  min-width: 100px;
}

#main-grid {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 210px auto;
  grid-template-rows: minmax(0, 1fr);
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#main-grid > * {
  margin: 0px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#left-bar {
  grid-area: sidebar;
  background-color: var(--theme-color-1);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0px !important;
}

.main-content {
  grid-area: main;
  display: grid;
  grid-template-rows: minmax(0, 1fr);
  gap: 0px;
}

#main-logo {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  font-weight: bold;
  font-family: var(--title-font);
  user-select: none; /* Standard */
  color: var(--black);
  margin-left: 0;
  transition: letter-spacing 0.5s ease-in-out, color 0.5s ease-in-out, text-indent 0.5s ease-in-out, margin-left 0.5s ease-in-out;
}

#mobile-logo {
  display: none;
}

#logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

#logo-container:hover > * {
  cursor: pointer;
  color: var(--text-color-main);
  letter-spacing: 2px;
  text-indent: 2px;
  margin-left: -2px;
}

#left-bar button {
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  height: 5vh;
  padding-left: 25px;
  border-radius: unset;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color 0.2s ease-in-out, opacity 0.2 ease-in-out;
}

#left-bar button .material-symbols-outlined {
  transition: background-color 0.2s ease-in-out, opacity 0.2 ease-in-out, color 0.2s ease-in-out;
  color: black;
  font-size: 20px;
  margin-right: 20px;
}


#left-bar button.active-button,
#left-bar button:hover,
#left-bar button.active-button .material-symbols-outlined,
#left-bar button:hover .material-symbols-outlined {
  color: var(--text-color-main);
}

#left-bar button.active-button, #left-bar button:hover {
  background-color: var(--theme-color-2);
}


button {
  background-color: var(--theme-color-1);
  color: var(--black);
  padding: 4px 6px;
  border: unset;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color .1s ease-in-out, opacity .1s ease-in-out;
  outline: none;
  font-weight: bold;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  position: relative;
  color: #00000000;
}

button[disabled]::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}


button:hover {
  outline: none !important;
}

button.big {
  font-size: .9em;
  height: 40px;
  padding: 10px;
  font-weight: bold;
}

button:hover,
button.active-button {
  background-color: var(--theme-color-4);
  color: var(--white);
}

button:active {
  opacity: 0.7;
}

button.delete {
  background-color: var(--low-color);
  color: var(--white);
  transition: background-color .1s ease-in-out, opacity .1s ease-in-out;
}

button.delete:hover {
  background-color: var(--low-color-dark);
  color: var(--white);
}

button.delete:active {
  opacity: 0.7;
}

button.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px;
  background-color: var(--theme-color-1);
  color: var(--black);
  transition: background-color .1s ease-in-out, opacity .1s ease-in-out;
}

button.checkbox:hover {
  background-color: var(--theme-color-4);
  color: var(--white);
}

button.checkbox:active {
  opacity: 0.7;
}

button.checkbox.active-button {
  background-color: var(--theme-color-4);
  color: var(--white);
}

button.checkbox.active-button:hover {
  background-color: var(--theme-color-1);
  color: var(--black);
}

button.checkbox.active-button:active {
  opacity: 0.7;
}

button.checkbox img {
  width: 100%;
  height: 100%;
}

button.checkbox.active-button img {
  filter: invert(var(--invert));
}

button.checkbox:hover img {
  filter: invert(var(--invert));
}

button.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button.only-icon {
  padding: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .1s ease-in-out, opacity .1s ease-in-out;
}

button.switch {
  border-radius: unset;
  border-left: 1px solid var(--theme-color-5);
  border-right: 1px solid var(--theme-color-5);
}

button.switch.selected {
  background-color: var(--theme-color-8);
  color: var(--text-color-main);
}

button.switch.selected:hover {
  background-color: var(--theme-color-4);
  color: var(--text-color-main);
}

button.switch:first-child {
  border-radius: 4px 0 0 4px;
  border-left: unset;
}

button.switch:last-child {
  border-radius: 0 4px 4px 0;
  border-right: unset;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;

}


input, textarea {
  background-color: var(--theme-color-3);
  font-size: 14px;
  color: var(--text-color-main);
  padding: 12px;
  border: unset;
  transition: background-color 0.3s ease-in-out;
  border-radius: 2px;
}

input.focus, textarea.focus {
  outline: unset;
}

.header {
  background-color: var(--theme-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

select *.option-class {
  font-family: var(--main-font);
}

select {
  height: 40px;
  padding: 10px;
  font-size: 14px;
  color: var(--text-color-alt);
  font-family: var(--main-font);
  border: unset;
  background-color: var(--theme-color-3);
  color: var(--text-color-main);
  border-radius: 2px;
}

label {
  margin-left: 10px;
}

.no-id-message {
  background-color: var(--theme-color-6);
  display: flex;
  align-items: center;
  padding: 100px;
  color: var(--text-color-alt);
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  border-style: dashed;
  border-color: var(--theme-color-2);
  border-width: 10px;
  height: 50vh;
}

.page-icon {
  width: 3vh;
  height: 3vh ;
  margin-right: 15px;
}

a:link {
  color: var(--link-color);
  transition: filter 0.05s ease-in-out;
}

a:link:hover {
  filter: invert(100%);
}

a:visited {
  color: var(--link-color);
}

a.no-invert:link:hover {
  filter: unset !important;
}

.content-container {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-color-5);
  height: 100%;
}

.content-header {
  border-radius: var(--roundness) var(--roundness) 0 0;
  background-color: var(--theme-color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.content-header >p3 {
  width: 60%;
}

.content-body {
  border-radius: 0 0 var(--roundness) var(--roundness);
  background-color: var(--theme-color-5);
  flex-grow: 1;
  overflow-y: auto;
}

.hmc-content {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: .8em;
  margin-top: 1vh;
  padding: 15px 0;
  color: var(--white);
  width: 210px;
  background-color: var(--alt-make-color);
}

.hmc-content p {
  margin: unset;
  margin-bottom: 5px;
}

.hmc-content a {
  font-weight: bold;
  color: var(--black)
}

.hmc-content img {
  width: 60px;
  height: 60px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--theme-color-3);
  border-radius: 2px;
  padding: 5px;
  padding-right: 10px;
  user-select: none;
  width: fit-content;
}


/*

HOME
    
*/

#page-home {
  grid-template-rows: 80px minmax(0, 1fr);
  background-color: var(--theme-color-2);
}

#current-announcement {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  background-color: var(--theme-color-4);
  color: var(--white);
  font-weight: normal;
  margin: 0 auto;
  }

#announcement-text {
  margin: 20px;
  text-align: center;
}

#announcement-text.music {
  margin-left: 60px;
  width: 75%;
}

#status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 20px;
  padding: 20px;
  font-weight: bold;
  background-color: var(--high-color);
  color: var(--white);
  margin: unset;
  font-size: 16px;
}

#status.closed {
  background-color: var(--low-color-dark);
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}


#college-id-container,
#welcome-message,
#logged-in-message {
  background-color: var(--theme-color-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  padding: 10px;
}

#college-id-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#user-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input[type="file"] {
  display: none;
}

#quick-transfer {
  min-width: 700px;
  text-align: center;
}

#quick-transfer-list {
  margin-bottom: 40px;
}

#quick-transfer-upload-button {
  width: 200px;
  margin: 0 auto;
}

#logout-button, #files-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#college-id-button {
  height: 100%;
  padding: 0 7px;
}

#welcome-message {
  text-align: center;
  overflow:hidden;
}

#welcome-message h1 {
  margin: unset;
}

#welcome-message h2 {
  font-size: 1em;
  font-weight: bold;
  color: var(--text-color-light);
  margin-bottom: 20px;
}

#welcome-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#welcome-buttons button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 180px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
}

#welcome-buttons button:hover img {
  filter: invert(100%);
}

#main-title-ani {
  font-size: min(20vh, 10em);
  text-align: center !important;
  cursor: pointer;
  letter-spacing: 40px;
  text-indent: 40px;
  color: var(--theme-color-5);
  transition: letter-spacing 1s ease-in-out, color 1s ease-in-out, text-indent 1s ease-in-out;
}

#main-title-ani.show {
  color: var(--text-color-main);
  letter-spacing: 10px;
  text-indent: 10px;
  margin-left: -10px;
}

/*

INVENTORY

*/

#inventory-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

#inventory-search label {
  font-size: 0.8em;
}

#inventory-results {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10px;
}

.inventory-result {
  background-color: var(--theme-color-2);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--text-color-alt);
  transition: all 0.1s ease-in-out;
}

.inventory-result.selected {
  background-color: var(--theme-color-7);
  color: var(--text-color-main);
}

.inventory-result.selected .inventory-result-checkout {
  color: var(--printer-error);
  background-color: var(--theme-color-3);
}

.inventory-result-main {
  display: grid;
  grid-template-columns: 2fr 0.5fr 2fr 0.5fr 0.5fr;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding: 5px;
  padding-left: 10px;
  color: var(--text-color-main);
}

.inventory-result.header {
  position: sticky;
  top: 0;
  font-weight: bold;
  z-index: 500;
  background-color: var(--theme-color-1);
  box-shadow: 0 0 15px var(--theme-color-2);
}

.inventory-result.header .inventory-result-main {
  width: 98%;
  text-align: center;
}

.inventory-result.kit {
  margin-bottom: 10px;
  margin-top: 10px;
}

.inventory-result.kit .inventory-result-main {
  grid-template-columns: 1fr 2fr 2fr 0.5fr;
}

.inventory-result.kiosk-mode .inventory-result-main {
  grid-template-columns: 2fr 0.5fr 2fr 0.5fr 0.5fr 0.6fr;
}

.inventory-result.kiosk-mode.kit .inventory-result-main {
  grid-template-columns: 1fr 2fr 2fr 0.5fr 0.3fr;
}

.inventory-result-main.inventory-header {
  padding: 10px;
  padding-bottom: 8px;
}

.inventory-result-main.inventory-header * {
  border-bottom: 3px solid var(--theme-color-5);
  color: var(--theme-color-5);
  padding: 5px;
}

.inventory-result-show-lower-div {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: unset !important;
  transition: transform 0.1s ease-in-out;
  --r: 0deg;
  --s: 1;
  transform: rotate(var(--r)) scale(var(--s));
  color: var(--text-color-main);
}

.inventory-result-show-lower-div span {
  font-size: 26px;
}

.inventory-result-show-lower-div.grayed-out {
  filter: invert(50%);
  cursor: not-allowed;
}

.inventory-result-show-lower-div:hover:not(.grayed-out) {
  --s: 1.1;
}

.inventory-result-show-lower-div.flipped {
  --r: 180deg;
}

.inventory-result-show-lower-div:hover:not(.grayed-out).flipped {
}

.kit-div {
  height: 50px;
  line-height: 50px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  background-color: var(--theme-color-4);
  color: var(--text-color-main);
  border-radius: var(--roundness) var(--roundness) 0 0;
}

.kit-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.kit-item {
  background-color: var(--theme-color-4);
  color: var(--text-color-main);
  padding: 5px;
}

.inventory-result-lower {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  margin-bottom: 30px;
  max-height: 200px;
  transition: max-height 0.1s ease-in-out, margin-bottom 0.1s ease-in-out;
  overflow-y: hidden;
  row-gap: 10px;
  position: relative;
}

.inventory-result-lower.not-shown {
  max-height: 0px;
  margin-bottom: 0px;
}

.inventory-result-lower-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-color-4);
  padding: 10px;
  color: var(--text-color-main);
  width: auto;
  margin-left: 20px;
}

.inventory-result-tool-material {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
}

.inventory-result-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 5px;
}
.inventory-result-location * {
  color: var(--text-color-main);
  padding: 5px;
}

.inventory-result-location .room {
  background-color: var(--theme-color-5);
  border-radius: 2px;
}

.inventory-result-location .container {
  background-color: var(--theme-color-3);
  border-radius: 2px;
}

.inventory-result-location .specific {
  background-color: var(--theme-color-9);
  border-radius: 2px;
}

.inventory-result-location .overstock {
  border-radius: 2px;
  background-color: var(--theme-color-4);
}

.inventory-result-quantity {
  border-radius: 2px;
  background-color: var(--theme-color-3);
  color: var(--text-color-main);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.inventory-result-quantity.low {
  background-color: var(--low-color);
}

.inventory-result-quantity.medium {
  background-color: var(--medium-color);
}

.inventory-result-quantity.high {
  background-color: var(--high-color);
}

#restock-button {
  color: var(--text-color-alt);
}

#restock-dialog {
  color: var(--text-color-main);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: unset;
}

#restock-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color-2);
  color: var(--text-color-main);
  padding-bottom: 20px;
}

#restock-dialog::after {
content: ''; 
width: 100%; 
height: 100%;
background-color: var(--theme-color-5); 
opacity: 0.95; 
position: absolute; 
top: 0; 
left: 0;
z-index: -1;
}

#restock-inputs {
  display: grid;
  grid-template-rows: .5fr 1fr .5fr 1fr .5fr 1fr .5fr 1fr;
  gap: 10px;
  padding: 10px;
}

.error{
  background-color: var(--printer-error) !important;
  animation: pulse .5s infinite;
}

/*

Student Storage

*/

#student-storage-help {
  background-color: var(--theme-color-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: var(--roundness) var(--roundness) 0 0;
  padding: 10px;
}

#student-storage-help * {
  width: 60%;
}

#overall-student-storage {
  color: var(--text-color-main);
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-color-5);
  border-radius: 0 0 var(--roundness) var(--roundness);
  padding: 20px;
  overflow: scroll;
}

.student-storage-group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.student-storage-group-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 2em;
  font-weight: bold;
}

.student-storage-group {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  grid-template-rows: auto;
  background-color: var(--theme-color-2);
  gap: 20px;
  padding: 20px;
}

.student-storage-slot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-color-3);
  gap: 5px;
  height: 120px;
  width: 120px;
  margin: auto 0;
}

.student-storage-slot.occupied {
  background-color: var(--theme-color-5);
}

.student-storage-slot.user {
  background-color: var(--theme-color-4);
}

.student-storage-slot-id {
  font-size: 1.2em;
  font-weight: bold;
}
.student-storage-slot-expire,
.student-storage-slot-status {
  font-size: 12px;
}

.student-storage-slot button {
  width: 100px;
}

/*

Quizzes & Information

*/

#quiz-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--theme-color-5);
  padding: 20px;
  color: var(--text-color-main);
}

#auth-level {
  margin-top: 20px;
}

#auth-level-text {
  font-size: 1.2em;
  font-weight: bold;
  background-color: var(--theme-color-2);
  padding: 10px;
}

.honor-code-warning {
  background-color: var(--theme-color-2);
  margin-top: 20px;
  display: inline-block;
  width: 60%;
  line-height: 1.4em;
  padding: 20px;
}

#quiz-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 90%;
  margin: 20px auto;
  gap: 10px;
}

.quiz-div {
  background: var(--theme-color-2);
  border-radius: 2px;
  padding: 20px;
  display: grid;
  grid-template-areas: "title title" "description description" "reference take";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 70px auto;
  gap: 10px;
}

.quiz-div h2 {
  margin-bottom: 10px;
  grid-area: title;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.quiz-div h2 span {
  font-size: 2em;
  font-weight: normal;
}

.quiz-div p {
  grid-area: description;
  font-size: .9em;
  font-style: italic;
  color: var(--text-color-light);
}

.quiz-div .quiz-reference,
.quiz-div .quiz-take {

}

.quiz-div .quiz-reference:hover,
.quiz-div .quiz-take:hover {
}

.quiz-div.quiz-passed {
  border: 2px solid var(--high-color);
  background-color: var(--high-color-dark);
}

.quiz-div.quiz-passed span {
  color: var(--text-color-main);
}


/*

Checkouts

*/

#checkouts-help {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#checkouts-help * {
  width: 60%;
}

#checkouts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.checkout-table td {
  text-align: center;
}

.checkout-entry-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  gap: 4px;
  flex-wrap: wrap;
  background-color: unset;
  height: unset;
}

.checkout-entry-item {
  background-color: var(--theme-color-5);
  color: var(--text-color-main);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 0.8em;
  border-radius: 2px;
}

.checkout-entry.success .check-in-button {
  background-color: var(--high-color);
  animation: pulse 0.2s infinite;
}

.checkout-entry.error .check-in-button {
  background-color: var(--printer-error);
  animation: pulse 0.2s infinite;
}

.success {
  background-color: var(--high-color);
  animation: pulse .2s infinite;
}

.checkout-entry-timestamp {
  font-size: 12px;
}

/*

Schedule

*/

table {
  width: 90%;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 20px;
}

table td, 
table th{
padding: 4px;
}

table tr {
  font-size: 14px;
}

table tr:first-child {
  height: 60px;
  top: 20px;
  position: sticky;
  box-shadow: #00000033 0px 5px 5px;
}

table tr:nth-child(odd) {
  background-color: var(--theme-color-2);
}

table tr:nth-child(even) {
  background-color: var(--theme-color-3);
}

table tr td button {
  margin: 0 auto;
}

#schedule-help {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#schedule-table {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  border-collapse:separate;
}

#schedule-table th {
  line-break: strict;
  text-align: center;
  width: 60px;
  font-size: 0.8em;
}

#schedule-table tr, #schedule-table td, #schedule-table th {
  padding: 0;
  border: 1px solid var(--theme-color-5);
  height: 50px;
}

#schedule-table tr {
  background-color: var(--theme-color-3);
}

#schedule-table tr:nth-child(odd) {
  background-color: var(--theme-color-2);
}

#schedule-table .schedule-shift {
  height: 50px;
  min-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
}

.stewards-1 {
  background-color: var(--shift-1);
}

.highlight-1 {
  background-color: var(--shift-1) !important;
}

.stewards-2 {
  background-color: var(--shift-2);
}

.highlight-2 {
  background-color: var(--shift-2) !important;
}

.stewards-3 {
  background-color: var(--shift-3);
}

.highlight-3 {
  background-color: var(--shift-3) !important;
}

.head-steward {
  background-color: var(--theme-color-1);
  color: var(--black);
}

.stewards-legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.stewards-1.info,
.stewards-2.info,
.stewards-3.info,
.head-steward.info {
  font-weight: bold;
  padding: 10px;
  font-size: 1em;
  text-align: center;
  width: 20%;
  margin: 0 auto;
  margin-top: 10px;
}

#schedule-table .stewards {
}

#schedule-table .proficiencies {
  color: var(--white);
  font-size: 0.7em;
}

.schedule-shift.proficiency.grayed-out {
  background-color: unset;
  cursor: not-allowed;
}

.schedule-shift.proficiency.stewards-1:hover,
.schedule-shift.proficiency.stewards-2:hover,
.schedule-shift.proficiency.stewards-3:hover,
.schedule-shift.proficiency.head-steward:hover
 {
  background-color: var(--theme-color-8);
  color: var(--white);
  cursor: pointer;
}


.highlight {
  background-color: var(--theme-color-8) !important;
  color: var(--text-color-main) !important;

}

.grayscale {
  filter: grayscale(100%);
}

#schedule-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
}

.proficiency-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  min-height: 40px;
}
/* 

3D Printers

*/

#printers-help {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}


.printer-status.Idle {
  background-color: var(--printer-idle);
}

.printer-status.Printing {
  background-color: var(--printer-printing);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    filter: brightness(0.7);
  }
  50% {
    filter: brightness(1.2);
  }
  100% {
    filter: brightness(0.7);
  }
}

#printers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;

}

.bambu-printer {
  background-color: var(--theme-color-2);
  border-radius: 5px;
  display: grid;
  grid-template-rows: 20px 20px 25px 10px 20px 30px 1fr;
  gap: 15px;
  width: 250px;
  height: 350px;
  padding: 15px;
}

.bambu-printer .name {
  font-size: 18px;
  font-weight: bold;
}

.bambu-printer .status {
  font-size: 12px;
  border-radius: 4px;
  height: 20px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bambu-printer .status.online {
  border: 2px solid var(--theme-color-8);
  background-color: var(--theme-color-4);
}

.bambu-printer .status.online.running {
  border: 2px solid var(--high-color);
  background-color: var(--high-color-dark);
}

.bambu-printer .status.online.paused {
  border: 2px solid var(--medium-color);
  background-color: var(--medium-color-dark);
}

.bambu-printer .status.offline, .bambu-printer .status.failed {
  border: 2px solid var(--low-color);
  background-color: var(--low-color-dark);
}

.bambu-printer .current-file {
  font-size: 14px;
  font-style: italic;
  color: var(--text-color-light);
}

.bambu-printer .ams {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.bambu-printer .ams .filament {
  background-color: var(--theme-color-3);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
}

.bambu-printer .ams .filament .upper-left {
  font-size: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 2px;
}

.bambu-printer .progress {
  background-color: var(--theme-color-4);
  border-radius: 4px;
}

.bambu-printer .progress .progress-bar-fill {
  background-color: var(--theme-color-8);
  height: 10px;
  width: 0%;
  min-width: 5px;
  border-radius: 4px;
}

.bambu-printer .progress-bar-text {
  text-align: center;
}

.bambu-printer .temp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  place-items: center;
  background-color: var(--theme-color-3);
  border-radius: 4px;
  height: 30px;
  font-size: 14px;
}

.bambu-printer .temp span {
  display: flex;
  align-items: center;
  justify-content: center;
}


/*

FAQ

*/

#faq-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.faq-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  max-width: 600px;
  margin: 10px 0;
}

.faq-category h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: unset;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 15px;
}


.faq-question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  margin: 10px 0;
  border: 1px solid var(--theme-color-3);
  border-radius: 2px;
  gap: 10px;
  color: var(--text-color-main);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  overflow: hidden;
}

.faq-question:hover {
  background-color: var(--theme-color-4);
}

.faq-question.open {
  background-color: var(--theme-color-3);
}

.faq-question h3 {
  font-size: 1em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 15px;
  margin: 20px 20px;
  user-select: none;
  background-color: unset !important;
}

.faq-question p {
  font-size: 0.9em;
  line-height: 1.4em;
  color: var(--text-color-light);
  margin: 20px 20px;
  margin-top: 0;
  display: none;
}

.faq-question.open p {
  display: block;
}



#settings-content,
#values-content,
#error-content,
#about-faq-content,
#tour-reservation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/*

Equipment

*/

.equipment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 10px 0;
}

.equipment-header {
  background-color: var(--theme-color-5);
  width: 90%;
  max-width: 1300px;
  position: sticky;
  top: 0;
  margin-top: 10px;
  margin-bottom: 40px;
  border: 1px solid var(--theme-color-3);
}

.equipment-documents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5px;
  place-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 90%;
}

.equipment-documents button {
  width: 100%;
  min-height: 30px;
  height: 100%;
}

.equipment-name {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 15px;
}

.equipment-name span.material-symbols-outlined {
  font-size: 1.2em;
}

.equipment-machines {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: left;
  gap: 20px;
  margin-left: 7%;
  margin-right: 7%;
}

.equipment-machines-container {
  width: 100%;
}

.machine {
  display: grid;
  width: calc(50% - 50px);
  grid-template-areas: "icon name" "icon desc" "icon link";
  grid-template-columns: 1fr 3fr;
  background-color: var(--theme-color-2);
  padding: 20px;
  gap: 10px;
}

.machine-image {
  grid-area: icon;
  width: 160px;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin: 0 auto;
}

.machine-name {
  grid-area: name;
  font-weight: bold;
  font-size: 1.2em;
}

.machine-description {
  grid-area: desc;
  font-size: 0.9em;
  color: var(--text-color-light);
  line-height: 1.4em;
}

.machine-manual {
  grid-area: link;
  font-size: 0.8em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.machine-manual button {
  width: 50%;
  height: 30px;
}

/*

Workshops

*/

#workshops-header * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workshop-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px;
}

.workshops-seperator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.workshop {
  border-radius: 10px;
  display: grid;
  height: 500px;
  grid-template-rows: 80px 50px 50px 190px 50px 40px 40px;
  padding: 40px;
  background: var(--theme-color-2);
  transition: background-color 0.5s ease-in-out;
  position: relative;
}

.workshop .photo-container {
  position: absolute;
  top: 80px;
  right: 40px;
  width: 40%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workshop .photo-container .photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.workshop .photo-container .photo.active {
  opacity: 1;
}

.workshop img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.workshop .photo-container .next,
.workshop .photo-container .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 24px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.workshop .photo-container .next {
  right: 10px;
}

.workshop .photo-container .prev {
  left: 10px;
}

.workshop p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: unset;
}

.workshop .title {
  margin:unset;
  z-index: 50;
  font-size: 1.5em;
}

.workshop .instructor {

}

.workshop .date {

} 

.workshop .description {
  width: 50%;
}

.required-quizzes {
  font-size: .8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
}

.required-quizzes span {
  border-radius: 4px;
  padding: 2px 4px;
  background-color: var(--theme-color-2);
  border: 1px solid var(--theme-color-3);
}

.required-quizzes span.passed {
  background-color: var(--high-color-dark);
  border: 1px solid var(--high-color);
}

.required-quizzes span.failed {
  background-color: var(--low-color-dark);
  border: 1px solid var(--low-color);
}

.workshop .capacity {

}

.workshop button.signup {
  padding: 10px 20px;
  margin-top: auto;
  width: 100%;
  border: none;
  text-align: center;
}

.workshop button.rsvp-list {
  float: right;
}

@media screen and (max-width: 600px) {
  .workshop-container {
    grid-template-columns: 1fr;
  }
}

#mailing-list-email-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

#workshops-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}

#workshops-selector button {
  padding: 10px 20px;
}
/*

Student Project Application

*/

.fullscreen-embed {
  width: 60vw;
  height: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


#student-projects-help * {
  width: 60%;
}

#application-button {
  width: 60%;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
}


/* 

Settings

*/

#statuses {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}


/*

Popups

*/

#quick-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--theme-color-5);
}

.quick-nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

#quick-nav button {
  width: 150px;
  height: 40px;
  margin-right: 10px;
}

#quick-nav input {
  width: 100px;
  height: 20px;
}


/*

STEWARD RESOURCES

*/

#steward-resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
}

#steward-resources h3 {
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  padding: unset;
  padding-bottom: 8px;
  border-bottom: solid 2px var(--theme-color-9);
}

.steward-resource {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

#steward-quick-links button {
  font-size: .8em;
  font-weight: bold;
  width: 240px;
  height: 60px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

#steward-shifts, #steward-available-shifts {
  font-size: 14px;
}

#steward-shifts button, #steward-available-shifts button {
  margin: 0 auto;
  width: 100px;
  font-size: 12px;
}

#previous-shift-changes-container {
  max-height: 50vh;
  overflow-y: scroll;
}

.steward-shift-container, .shift-change-container {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  place-content: center;
  align-items: center;
  justify-items: left;
  padding: 10px;
  background-color: var(--theme-color-2);
  column-gap: 10px;
}

#steward-proficiencies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
  column-gap: 20px;
}

#save-proficiencies {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bolder;
  font-size: 1em;
}

#steward-availability {
  user-select: none;
  width: fit-content;
  border-collapse: separate;
}

#steward-availability tr {
  height: 50px;
  font-size: 14px;
}

#steward-availability th, #steward-availability td, #steward-availability tr {
  border: 1px solid var(--theme-color-5);
}

.availability-cell {  
  height: 40px;
}

td.availability-cell {
  width: 100px;
}

.availability-cell:hover {
  cursor: crosshair;
}

.availability-cell.available {
  background-color: var(--high-color);
}

.availability-cell.medium-available {
  background-color: var(--medium-color);
}

.availability-cell.low-available {
  background-color: var(--low-color);
}

.availability-cell:active {
  opacity: .7;
}

/*

Mobile Styles

*/

@media only screen and (max-width: 760px) {
  .main-content {
    height: calc(100vh - 60px);
  }

  #main-grid {
    grid-template-areas: "sidebar" "main";
    grid-template-columns: unset;
    grid-template-rows: 60px auto;
  }
  
  #left-bar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    overflow: hidden;
  }

  #left-bar.show {
    height: fit-content;
  }

  #logo-container:hover > * {
    letter-spacing: unset;
  }

  .hmc-content {
    position: unset;
    margin-bottom: 20px;
  }

  #logo-container {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #left-bar.show #logo-container {
    color: var(--text-color-alt);
  }

  #left-bar.show #logo-container:hover {
    color: var(--text-color-alt);
  }

  #current-announcement {
    font-size: .7em;
  }

  #main-logo {
    display: none;
  }

  #mobile-logo {
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: var(--title-font);
    user-select: none; /* Standard */
    font-size: 60px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  #welcome-message {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding: 0px;
    gap: 0px;
    min-height: unset;
  }

  #welcome-message p1 {
    font-size: 2em;
  }

  #main-title-ani {
    font-size: 5em !important;
  }

  #top-right-logo {
    display: none;
  }

  p1 {
    font-size: 3em;
    font-weight: bold;
  }

  p2 {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
  }

  p3 {
    padding: 10px;
    font-size: 12px;
  }

  .content-container {
    overflow-y: scroll;
  }

  .content-header p3 {
    width: 100%;
  }

  .content-body {
    overflow-y: unset;
    padding-bottom: 200px;
  }

  .quiz-info-storage-help {
  }

  .quiz-status-item {
    height: 110px;
    width: 100px;
  }

  .manual-policy-list {
    columns: 1;
  }

  .manual-policy-list * {
    margin-bottom: 8px;
  }

  #inventory-results {
    font-size: 0.6em;
  }

  #inventory-search span {
    display: none;
  }

  .inventory-result-show-lower-div,
  .inventory-result-tool-material {
    background-size: 20px 20px;
  }

  .inventory-result {
    width: 95%;
  }

  .inventory-result.header {
    width: 98%;
    font-size: 1.2em;
  }

  .inventory-result-main {
    padding: 4px;
    gap: 3px;
  }

  .inventory-result-location {
    flex-direction: column;
    align-items: unset;
    gap: 0px;
  }

  .inventory-result.location {
    padding: 2px;
  }

  .inventory-result-lower {
    margin-bottom: 10px;
  }

  #overall-student-storage {
    padding: 0px;
  }
  .inventory-result-lower-detail {
    padding: 6px;
  }

  .student-storage-group {
    grid-template-columns: repeat(2, 120px);
    gap: 5px;
  }

  .student-storage-slot {
    height: 120px;
    width: 120px;
  }

  .md {
    max-width: 100%;
  }

  .md h1 {
    font-size: 2em;
  }

  .md h2 {
    font-size: 1em;
  }

  .md h3 {
    font-size: 1em;
  }

  .md img {
    max-width: 100%;
    height: auto;
  }

  .equipment-header {
    position: unset;
  }
  .equipment-name {
    font-size: 1.5em;
    margin-left: 20px;
  }

  .machine {
    width: 100%;
    grid-template-areas: "name name" "icon icon" "desc desc" "link link";
  }

  .machine-manual button {
    width: 100%;
  }

  #top-right-music {
    display: none !important;
  }

  #status {
    font-size: 12px;
    padding: 12px;
  }

  #welcome-message {
    min-height: unset;
  }

  #college-id-container, #logged-in-message {
    padding: 20px;
    min-height: 180px;
    justify-content: flex-start;
  }

  #welcome-message h2 {
    font-size: .8em;
  }

  #welcome-buttons {
    flex-direction: column;
  }

  p2 {
    font-size: 14px;
  }

  button.big {
    font-size: .8em;
    padding: 5px;
  }

  #welcome-buttons button {
    font-size: 12px;
  }

  #popup-content h2 {
    margin: unset;
  }

  #popup-content p {
    font-size: .8em;
  }
  
  .only-icon .material-symbols-outlined {
    font-size: 14px;
  }

  table {
    max-width: 90vw;
  }

  table tr {
    max-width: 90vw;
    font-size: 12px;
  }

  #quick-transfer { 
    min-width: unset;
  }

  .workshop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 15px;
    height: unset;
  }

  .workshop .photo-container {
    position: relative;
    width: 100%;
    height: 200px;
    top: unset;
    right: unset;
  }

  .workshop .photo-container:empty {
    display: none;
  }

  .workshop p {
    overflow: unset;
  }

  .workshop .description {
    width: 100%;
  }

  #faq-content {
    display: flex;
    flex-direction: column;
  }
  .faq-category {
    width: 100%;
  }
}
